.text{
    border:1px solid gray;
    padding:16px 16px;
    height:400px;
    width:400px;

}

.text-title{
    margin:10px 5px;
    padding:10px 13px 11px 12px;
}
.text-paragraph{
    margin: 0px 16px;
    padding:6px 0px;
}
